*, *:before, *:after {
    box-sizing: border-box;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

::-webkit-input-placeholder {
    font-style: italic;
}

::-moz-placeholder {
    font-style: italic;
}

html {
    height: 100%;
    font-size: 16px;
    font-family: Roboto, Heebo, sans-serif;
    font-weight: 300;
    color: #666;
    cursor: default;
}

body {
    display: -ms-flexbox;
    -ms-flex-direction: column;
    -ms-flex-wrap: nowrap;
    -ms-flex-pack: center;
    -ms-flex-align: start;

    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -webkit-justify-content: center;
    -webkit-align-items: flex-start;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;

    position: relative;
    margin: 0px;
    width: 100%;
    height: 100%;
    min-height: 640px;
    min-width: 960px;
    padding: 0px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

app-fade {
    position: fixed;
    top: 0px;
    left: 0px;
    display: block;
    background-color: #FFF;
    height: 100%;
    width: 100%;
    z-index: 1000000;
    pointer-events: none;
    transition: opacity .5s ease .5s;
}
app-fade.is-active {
    opacity: 0;
}

input {
    position: relative;
    font-family: Roboto, Heebo, sans-serif;
    height: 2.5em;
    padding: 0 .75em;
    font-size: 16px;
    font-weight: 400;
    color: #555;
    background-color: rgba(255,255,255,.9);
    border: none;
    border-radius: .5em;
    outline: none;
    box-shadow: 0 0 0 1px rgba(0,0,0,.3);
    transition: box-shadow .2s;
}
/*
::-webkit-scrollbar {
    visibility: hidden;
    width: 10px;
    height: 10px;
    padding: 2px;
}
::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 1px;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 4px;
    display: block;
    width: 8px;
}
::-webkit-scrollbar-thumb:horizontal:hover, ::-webkit-scrollbar-thumb:vertical:hover {
    background-color: rgba(255, 255, 255, 0.75);
    cursor: pointer;
}
*/

list {
    display: block;
    padding: .5em 0;
}

avatar {
    display: block;
    width: 2.5em;
    height: 2.5em;
    text-align: center;
    line-height: 2.5em;
    font-size: 1em;
    font-weight: 100;
    color: #FFF;
    background-color: #A5ABB0;
    background-size: cover;
    border-radius: .25em;
}

status {
    background-color: rgba(0,0,0,.0);
    transition: background-color .3s;
}

status.is-available {
    background-color: #00EA3F;
}

status.is-busy {
    background-color: #FFB400;
}

status.is-offline,
status.is-unknown {
}

/* ====== APP MODULE */

top {
    position: relative;
    z-index: 4;
    top: -4em;
    overflow: visible;
    flex 0 0 4em;
    display: block;
    width: 100%;
    min-height: 4em;
    height: 4em;
    max-height: 4em;
    text-align: center;
    background: linear-gradient(#23282D, #2D333D);
    box-shadow: 1px 1px 3px rgba(0,0,0,.5);
    transition: top .5s ease .5s;
}

top.is-active {
    top: 0em;
}

main {
    display: -ms-flexbox;
    -ms-flex-direction: row;
    -ms-flex-wrap: nowrap;
    -ms-flex-pack: start;
    -ms-flex-align: start;

    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -webkit-align-items: flex-start;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    flex: 2 1 auto;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0);
    transition: background-color .5s ease .5s;
}

main.is-active {
    background-color: rgba(255, 255, 255, 0.5);
}

bottom {
    display: none;
    position: relative;
    z-index: 2;
    flex 0 0 4em;
    width: 100%;
    height: 3em;
    background: linear-gradient(#2D333D, #101215);
}

settings-dropdown {
    position: absolute;
    right: 0px;
    margin: .75em;
    width: 2.5em;
    height: 2.5em;
    background-size: 1.5em;
    background-position: center;
    background-repeat: no-repeat;

}

/* ====== DEVICE MODULE */

devices {
    position: relative;
    display: inline-block;
    overflow: visible;
    margin: 0px auto;
    width: 17.75em;
    height: 100%;
}

devices device-toggle {
    position: absolute;
    z-index: 2;
    display: inline-block;
    margin: .75em 1em;
    height: 2.5em;
    width: 2.5em;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    background-color: #000;
    border-color: rgba(255,255,255,.5);
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    transition: opacity .3s;
}

devices device-toggle.microphone {
    left: 0px;
}

devices device-toggle.camera {
    right: 0px;
}

devices self-view {
    position: relative;
    display: inline-block;
    width: 7.125em;
    height: 4em;
    background-color: black;
    background-size: cover;
    background-position: center;
    border-radius: .25em;
    box-shadow: 0px 0px 0px rgba(0,0,0,.5);
    cursor: zoom-in;
    transition: height .5s, width .5s, box-shadow .5s;
}

devices.is-restricted self-view {
    pointer-events: none;
}

devices.is-selected self-view {
    width: 100%;
    height: 10em;
    box-shadow: 1px 1px 4px rgba(0,0,0,.5);
    cursor: zoom-out;
}

devices.is-selected device-toggle {
    opacity: .1;
}

devices.is-selected:hover device-toggle {
    opacity: 1;
}

devices device-toggle.is-muted,
devices.is-selected device-toggle.is-muted {
    border-color: #FF644B;
    opacity: 1;
}

/* ====== LOGIN MODULE */

login {
    position: relative;
    align-self: center;
    top: -1em;
    opacity: 0;
    margin: 0px auto;
    width: 37.5em;
    overflow: hidden;
    border-radius: .25em;
    box-shadow: 1px 1px 6px rgba(0,0,0,.3);
    transition: opacity .5s;
}

login.is-active {
    opacity: 1;
}

login login-menu {
    display: flex;
    position: relative;
    z-index: 1;
}

login login-menu header {
    text-align: center;
    font-weight: 700;
}

background-blur {
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    width: 100%;
    height: 100%;
    -webkit-filter: blur(8px);
    -o-filter: blur(8px);
    -ms-filter: blur(8px);
    -moz-animation: 1ms blur-this;
    -moz-animation-delay: 1ms;
    -moz-animation-fill-mode: forwards;
}

@keyframes blur-this {
    to { filter: blur(10px); }
}

background-blur:before {
    display: block;
    content: "";
    z-index: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: inherit;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

login app-logo {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 12.5em;
    background-color: rgba(20, 30, 40, .8);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom-left-radius: .25em;
    border-top-left-radius: .25em;
}

login app-info > image {
    display: block;
    width: 12em;
    height: 18em;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

login form {
    flex: 1 0 auto;
    width: 25em;
    padding: 1em;
    background: linear-gradient(to top right, rgba(255,255,255,.9), rgba(255,255,255,.75));
    border-bottom-right-radius: .25em;
    border-top-right-radius: .25em;
}

login form > * {
    margin: 1em;
}

login entry {
    display: block;
}

login input {
    display: block;
    width: 18em;
    margin: 0px auto;
    box-shadow: 0 0 0 1px #FF644B;
}

login label{
    display: block;
    margin: 0px auto;
    width: 18em;
}

login label text{
    width: 18em;
}

login input:focus {
    box-shadow: 0 0 0 3px #FF644B;
}

login entry.is-active input {
    box-shadow: 0 0 0 1px #1A0;
}

login entry.is-active input:focus {
    box-shadow: 0 0 0 3px #1A0;
}

login entry input:read-only {
    background: rgba(255,255,255,.1);
    color: #BBB;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1);
    cursor: default;
}

login entry.is-active input:read-only:focus {
    box-shadow: 0 0 0 1px rgba(0,0,0,.1);
}

login entry input[type=text]:-moz-read-only {
    background: rgba(255,255,255,.1);
    color: #BBB;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1);
    cursor: default;
}

login entry.is-active input:-moz-read-only:focus {
    box-shadow: 0 0 0 1px rgba(0,0,0,.1);
}

login entry.checkbox input {
    box-shadow: initial;
    display: inline;
    margin: 0 8px 0 2px;
    padding: 0;
    height: auto;
    width: auto;
}

login entry.submit input {
    font-weight: 500;
    color: #FFF;
    border: 1px solid rgba(0,0,0,.3);
    background: linear-gradient(rgba(26,170,0,.5), rgba(26,170,0,.8));
    box-shadow: none;
}

login entry.submit input:hover {
    position: relative;
    background: linear-gradient(rgba(26,170,0,.7), rgba(26,170,0,1));
    cursor: pointer;
}

login entry.submit input:active {
    background: linear-gradient(rgba(26,170,0,1), rgba(26,170,0,.7));
}

login entry.submit.is-disabled input {
    background: rgba(0,0,0,.1);
    color: rgba(255,255,255,.5);
    border: 1px solid rgba(0,0,0,.1);
    pointer-events: none;
}

/* ====== NAVIGATION & RESULTS MODULES */

navigation {
    position: relative;
    z-index: 5;
    display: inline-block;
    left: -3em;
    margin-right: -3em;
    width: 3em;
    height: 100%;
    overflow: visible;
    background-color: #2D333D;
    box-shadow: 1px 0 3px rgba(0,0,0,.5);
    transition: left .5s, margin-right .5s;
}

navigation.is-active {
    left: 0em;
    margin-right: 0em;
}

navigation > image {
    display: block;
    margin: .5em auto 1em auto;
    height: 2.5em;
    width: 2.5em;
    background-size: 1.5em;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: .25em;
    cursor: pointer;
    transition: background-color .3s;
}

navigation > image:hover {
    background-color: #404B55
}

navigation > image > time {
    line-height: 3.5em;
    text-align: center;
    width: 100%;
    display: block;
    font-size: .75em;
    color: #FFF;
}

results {
    position: relative;
    z-index: 3;
    display: inline-block;
    left: -17em;
    margin-right: -17em;
    width: 17em;
    height: 100%;
    overflow: hidden;
    background-color: #F8F8F8;
    box-shadow: 0px 0px 6px rgba(0,0,0,.5);
    transition: left .5s, margin-right .5s;
}

results.is-selected {
    left: 0em;
    margin-right: 0em;
}

results section {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    transition: opacity .5s;
}

results section.is-selected {
    opacity: 1;
    pointer-events: all;
}

results header {
    position: relative;
    width: 100%;
    height: 3.5em;
    padding: .5em .75em;
    background-color: #F8F8F8;
    border-bottom: 3px double rgba(0,0,0,.15);
}

results header image {
    display: inline-block;
    vertical-align: middle;
    height: 2.5em;
    width: 2.5em;
    background-size: 2em;
    background-position: center;
    background-repeat: no-repeat;
}

results header image > time {
    width: 100%;
    line-height: 2.75em;
    text-align: center;
    display: block;
}

results header text {
    vertical-align: middle;
    padding-left: .75em;
    font-weight: 400;
}

results list {
    width: 100%;
    height: calc(100% - 3.5em);
    overflow: auto;
}

results card {
    position: relative;
    display: block;
    height: 3.25em;
    padding: .375em .75em;
    cursor: pointer;
}

results card > avatar {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: .5em;
}


results card status {
    width: .75em;
    height: .75em;
    border-radius: 50%;
}

results card > status {
    display: inline-block;
    vertical-align: middle;
    margin: auto .25em;
}

results card > avatar > status {
    position: absolute;
    bottom: .875em;
    right: -.375em;
    border: 1px solid #F8F8F8;
}

results card > avatar > status.is-offline,
results card > avatar > status.is-unknown {
    display: none;
}

results card > contents {
    display: inline-block;
    vertical-align: middle;
    margin-left: .25em;
    width: calc(100% - 3.25em);
    max-height: 2.5em;
}

results card > contents > name {
    display: block;
    max-width: 100%;
    font-size: .875em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

results section.is-selected card.is-selected {
    color: #FFF;
}

results section.is-selected card.is-selected avatar {
    background-color: rgba(255,255,255,.4);
    color: #FFF;
}

results section.search input {
    width: 100%;
}

results section.search input:focus {
    box-shadow: 0 0 0 3px rgba(0,0,0,.3);
}

results section.contacts avatar {
    border-radius: 50%;
}

results section.contacts.is-selected card.is-selected avatar status {
    border: 1px solid #1A0;
}

navigation image.is-selected,
results section.is-selected card.is-selected {
    background-color: #567;
}

navigation image.contacts.is-selected,
results section.contacts.is-selected card.is-selected {
    background-color: #1A0;
}

navigation image.rooms.is-selected,
results section.rooms.is-selected card.is-selected {
    background-color: #07A;
}

navigation image.meetings.is-selected,
results section.meetings.is-selected card.is-selected {
    background-color: #099;
}

/* ====== INFORMATION MODULE */

specifics {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

specifics card {
    display: inline-block;
    margin: .5em;
    width: 30em;
    overflow: hidden;
    background-color: rgba(255,255,255,.95);
    border-radius: .25em;
    box-shadow: 1px 1px 6px rgba(0,0,0,.3);
    transition: opacity .5s;
}

specifics card avatar {
    margin: .5em;
    font-size: 2em;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
}

specifics card contents {
    display: inline-block;
    vertical-align: middle;
    width: 19em;
    padding-right: 1em;
}

specifics card call {
    display: inline-block;
    vertical-align: middle;
    width: 3em;
    height: 3em;
    background-size: 1.5em;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #1A0;
    border: 1px solid rgba(0,0,0,.3);
    border-radius: 50%;
    cursor: pointer;
}

specifics card name {
    display:  block;
    padding-bottom: .25em;
    font-size: 1.5em;
}

specifics card status {
    display: inline-block;
    vertical-align: middle;
    width: 1em;
    height: 1em;
    margin-right: .5em;
    border-radius: 50%;
    background-color: #A5ABB0;
}

specifics card status-text {
    display: inline-block;
    vertical-align: middle;
    text-transform: capitalize;
}

specifics card buttons {
    display: flex;
    width: 100%;
    padding: 1em;
    background-color: #2D333D;
}

specifics card buttons icon {
    flex: 1 1 50%;
    height: 2.75em;
    text-align: center;
    color: rgba(255,255,255,.5);
}

specifics card buttons icon image {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;

}

specifics card buttons icon text {
    display: block;
    font-size: .875em;
}

specifics card buttons icon:hover {
    color: #FFF;
    cursor: pointer;
}
