*, *:before, *:after {
    box-sizing: border-box;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

html {
    height: 100%;
    font-size: 16px;
    font-family: Roboto, Heebo, sans-serif;
    font-weight: 300;
    color: #666;
    cursor: default;
}

body {
    display: -ms-flexbox;
    -ms-flex-direction: column;
    -ms-flex-wrap: nowrap;
    -ms-flex-pack: center;
    -ms-flex-align: start;

    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -webkit-justify-content: center;
    -webkit-align-items: flex-start;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;

    position: relative;
    margin: 0px;
    width: 100%;
    height: 100%;
    min-height: 640px;
    min-width: 960px;
    padding: 0px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

app-fade {
    position: fixed;
    top: 0px;
    left: 0px;
    display: block;
    background-color: #FFF;
    height: 100%;
    width: 100%;
    z-index: 1000000;
    animation: fade-out 2s;
    animation-fill-mode: forwards;
    pointer-events: none;
}

@-webkit-keyframes fade-out {
    0% { opacity: 1 } 20% { opacity: 1 } 100% { opacity: 0 }
}

@-moz-keyframes fade-out {
    0% { opacity: 1 } 20% { opacity: 1 } 100% { opacity: 0 }
}

input {
    font-family: Roboto, Heebo, sans-serif;
    font-size: 16px;
    height: 2.5em;
    color: #555;
    background-color: rgba(255,255,255,0.5);
    border: none;
    box-shadow: 0 0 0 1px rgba(0,0,0,.3);
    border-radius: .5em;
}

/*
::-webkit-scrollbar {
    visibility: hidden;
    width: 10px;
    height: 10px;
    padding: 2px;
}
::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 1px;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 4px;
    display: block;
    width: 8px;
}
::-webkit-scrollbar-thumb:horizontal:hover, ::-webkit-scrollbar-thumb:vertical:hover {
    background-color: rgba(255, 255, 255, 0.75);
    cursor: pointer;
}
*/

list {
    display: block;
    padding: .5em 0;
}

avatar {
    display: block;
    width: 2.5em;
    height: 2.5em;
    text-align: center;
    line-height: 2.5em;
    font-size: 1em;
    font-weight: 100;
    color: #FFF;
    background-color: #A5ABB0;
    background-size: cover;
    border-radius: .25em;
}

card {
    position: relative;
    display: block;
    height: 3.25em;
    padding: .375em .75em;
    cursor: pointer;
}

card > avatar {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: .5em;
}


card status {
    width: .75em;
    height: .75em;
    border-radius: 50%;
}

card > status {
    display: inline-block;
    vertical-align: middle;
    margin: auto .25em;
}

card > avatar > status {
    position: absolute;
    bottom: .875em;
    right: -.375em;
    border: 1px solid #F8F8F8;
}

card > content {
    display: inline-block;
    vertical-align: middle;
    margin-left: .25em;
    width: calc(100% - 4em);
    max-height: 2.5em;
}

card > content > name {
    display: block;
    max-width: 100%;
    font-size: .875em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

status.is-available {
    background-color: #00EA3F;
}

status.is-busy {
    background-color: #FFB400;
}

status.is-offline,
status.is-unknown {
    display: none;
}

/* ====== APP MODULE */

top {
    position: relative;
    z-index: 2;
    overflow: visible;
    flex 0 0 4em;
    display: block;
    width: 100%;
    min-height: 4em;
    height: 4em;
    max-height: 4em;
    text-align: center;
    background: linear-gradient(#23282D, #2D333D);
    box-shadow: 1px 1px 3px rgba(0,0,0,.5);
}

middle {
    display: -ms-flexbox;
    -ms-flex-direction: row;
    -ms-flex-wrap: nowrap;
    -ms-flex-pack: start;
    -ms-flex-align: start;

    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -webkit-align-items: flex-start;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    flex: 2 1 auto;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    transition: background-color .5s ease .5s;
}

middle.is-active {
    background-color: rgba(255, 255, 255, 0.5);
}

bottom {
    display: none;
    position: relative;
    z-index: 2;
    flex 0 0 4em;
    width: 100%;
    height: 3em;
    background: linear-gradient(#2D333D, #101215);
}

settings-dropdown {
    position: absolute;
    right: 0px;
    margin: .75em;
    width: 2.5em;
    height: 2.5em;
    background-size: 1.5em;
    background-position: center;
    background-repeat: no-repeat;

}

/* ====== DEVICE MODULE */

devices-module {
    position: relative;
    display: inline-block;
    overflow: visible;
    margin: 0px auto;
    width: 17.75em;
    height: 100%;
}

devices-module device-toggle {
    position: absolute;
    z-index: 2;
    display: inline-block;
    margin: .75em 1em;
    height: 2.5em;
    width: 2.5em;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    background-color: #000;
    border-color: rgba(255,255,255,.5);
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    transition: opacity .3s;
}

devices-module device-toggle.microphone {
    left: 0px;
}

devices-module device-toggle.camera {
    right: 0px;
}

devices-module self-view {
    position: relative;
    display: inline-block;
    width: 7.125em;
    height: 4em;
    background-color: black;
    background-size: cover;
    background-position: center;
    border-radius: .25em;
    box-shadow: 0px 0px 0px rgba(0,0,0,.5);
    cursor: zoom-in;
    transition: height .5s, width .5s, box-shadow .5s;
}

devices-module.is-restricted self-view {
    pointer-events: none;
}

devices-module.is-selected self-view {
    width: 100%;
    height: 10em;
    box-shadow: 1px 1px 4px rgba(0,0,0,.5);
    cursor: zoom-out;
}

devices-module.is-selected device-toggle {
    opacity: .1;
}

devices-module.is-selected:hover device-toggle {
    opacity: 1;
}

devices-module device-toggle.is-muted,
devices-module.is-selected device-toggle.is-muted {
    border-color: #FF644B;
    opacity: 1;
}

/* ====== LOGIN MODULE */

login-module {
    position: relative;
    align-self: center;
    opacity: 0;
    margin: 0px auto;
    width: 37.5em;
    overflow: hidden;
    border-radius: .25em;
    box-shadow: 1px 1px 3px rgba(0,0,0,.3);
    transition: opacity .3s;
}

login-module.is-active {
    opacity: 1;
    transition: opacity .8s;
}

login-module login-menu {
    display: flex;
    position: relative;
    z-index: 1;
}

login-module login-menu header {
    text-align: center;
    font-weight: 700;
}

background-blur {
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    width: 100%;
    height: 100%;
    -webkit-filter: blur(8px);
    -o-filter: blur(8px);
    -ms-filter: blur(8px);
    -moz-animation: 1ms blur-this;
    -moz-animation-delay: 1ms;
    -moz-animation-fill-mode: forwards;
}

@keyframes blur-this {
    to { filter: blur(10px); }
}

background-blur:before {
    display: block;
    content: "";
    z-index: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: inherit;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

login-module app-logo {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 12.5em;
    background-color: rgba(20, 30, 40, .8);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom-left-radius: .25em;
    border-top-left-radius: .25em;
}

login-module app-info > image {
    display: block;
    width: 12em;
    height: 18em;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

login-module form {
    flex: 1 0 auto;
    width: 25em;
    padding: 1em;
    background: linear-gradient(to top right, rgba(255,255,255,.9), rgba(255,255,255,.75));
    border-bottom-right-radius: .25em;
    border-top-right-radius: .25em;
}

login-module form > * {
    margin: 1em;
}

login-module form-input {
    display: block;
}

login-module input {
    display: block;
    font-size: 16px;
    width: 18em;
    padding: 0 .75em;
    outline: none;
    margin: 0px auto;
}

login-module label{
    display: block;
    margin: 0px auto;
    width: 18em;
}

login-module label text{
    width: 18em;
}

login-module input {
    background-color: rgba(255,255,255,0.9);
    border: none;
    box-shadow: 0 0 0 1px #FF644B;
    transition: box-shadow .2s;
}

login-module input:focus {
    box-shadow: 0 0 0 3px rgba(255,120,100,1);
}

login-module form-input.is-active input {
    box-shadow: 0 0 0 1px rgba(26,170,0,1);
}

login-module form-input.is-active input:focus {
    box-shadow: 0 0 0 3px rgba(26,170,0,1);
}

login-module form-input input[type=text]:read-only {
    background: rgba(255,255,255,.1);
    color: #BBB;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1);
    cursor: default;
}

login-module input[type=text]:-moz-read-only {
    background: rgba(255,255,255,.1);
    color: #BBB;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1);
    cursor: default;
}

login-module input[type=checkbox] {
    box-shadow: initial;
    display: inline;
    margin: 0 8px 0 2px;
    padding: 0;
    height: auto;
    width: auto;
}

login-module input[type=submit] {
    font-weight: 500;
    color: #FFF;
    border: 1px solid rgba(0,0,0,.3);
    background: linear-gradient(rgba(26,170,0,.5), rgba(26,170,0,.8));
    box-shadow: none;
}

login-module input[type=submit]:hover {
    position: relative;
    background: linear-gradient(rgba(26,170,0,.7), rgba(26,170,0,1));
    cursor: pointer;
}

login-module input[type=submit]:active {
    background: linear-gradient(rgba(26,170,0,1), rgba(26,170,0,.7));
}

login-module form-input.is-disabled input[type=submit] {
    background: rgba(0,0,0,.1);
    color: rgba(255,255,255,.5);
    border: 1px solid rgba(0,0,0,.1);
    pointer-events: none;
}

/* ====== FAVORITES MODULE */

favorites-module {
    display: block;
    position: relative;
    top: 0em;
    left: -3em;
    width: 3em;
    height: 100%;
    overflow: hidden;
    box-shadow: 1px 1px 6px rgba(0,0,0,.5);
    transition: left .3s, width .5s;
}

favorites-module.is-active {
    left: 0em;
}

favorites-module.is-selected {
    width: 20em;
}

favorites-module nav {
    display: block;
    position: absolute;
    z-index: 2;
    top: 0px;
    left: 0px;
    width: 3em;
    height: 100%;
    background-color: #2D333D;
    box-shadow: 1px 0px 3px rgba(0,0,0,.5)
}

favorites-module nav image {
    display: block;
    margin: .5em auto;
    height: 2.5em;
    width: 2.5em;
    background-size: 1.5em;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: .25em;
    cursor: pointer;
    transition: background-color .3s;
}

favorites-module nav image time {
    line-height: 3.5em;
    text-align: center;
    width: 100%;
    display: block;
    font-size: .75em;
    color: #FFF;
}

favorites-module menu {
    position: absolute;
    left: -14em;
    vertical-align: top;
    overflow: hidden;
    margin: 0px;
    width: 17em;
    height: 100%;
    padding: 0px;
    background-color: #F8F8F8;
    pointer-events: none;
    transition: left .5s;
}

favorites-module.is-selected menu {
    left: 3em;
}

favorites-module menu header {
    height: 3.5em;
    border-bottom: 3px double rgba(0,0,0,.15);
}

favorites-module menu icon {
    display: inline-block;
    display: inline-block;
    vertical-align: middle;
    height: 3em;
    width: 100%;
    padding: .5em .75em;
    font-weight: 400;
}

favorites-module menu icon image {
    display: inline-block;
    vertical-align: middle;
    height: 2.5em;
    width: 2.5em;
    background-size: 2em;
    background-position: center;
    background-repeat: no-repeat;
}

favorites-module header icon image time {
    line-height: 2.75em;
    text-align: center;
    width: 100%;
    display: block;
}

favorites-module menu icon text {
    vertical-align: middle;
    padding-left: .75em;
}

favorites-module list {
    position: absolute;
    top: 3.5em;
    width: 100%;
    height: calc(100% - 3em);
    opacity: 0;
    overflow: auto;
    transition: opacity .3s;
}

favorites-module list.is-selected {
    opacity: 1;
    pointer-events: all;
    transition: opacity .3s;
}

favorites-module list.is-selected card.is-selected {
    color: #FFF;
}

favorites-module list.is-selected card.is-selected > avatar {
    background-color: rgba(255,255,255,.4);
    color: #FFF;
}

favorites-module list.contacts.is-selected card.is-selected > avatar > status {
    border: 1px solid #1AAA00;
}

favorites-module list.contacts avatar {
    border-radius: 50%;
}

favorites-module nav image.search:hover {
    background-color: #055;
}

favorites-module nav image.search.is-selected,
favorites-module list.search.is-selected card.is-selected {
    background-color: #099;
}

favorites-module nav image.contacts:hover {
    background-color: rgba(26, 170, 0, 0.5);
}

favorites-module nav image.contacts.is-selected,
favorites-module list.contacts.is-selected card.is-selected {
    background-color: #1AAA00;
}

favorites-module nav image.rooms:hover {
    background-color: rgba(0, 115, 185, 0.5);
}

favorites-module nav image.rooms.is-selected,
favorites-module list.rooms.is-selected card.is-selected {
    background-color: #0073B9;
}

favorites-module nav image.meetings:hover {
    background-color: rgba(255, 149, 0, 0.5);
}

favorites-module nav image.meetings.is-selected,
favorites-module list.meetings.is-selected card.is-selected {
    background-color: #FF9500;
}

/* ====== FAVORITES MODULE */

details-module {
    flex: 1 0 auto;
    height: 100%
}
